
<div class="body">
   

    <div class="modernForm">
      <div class="imageSection">
        <div class="image">
         
          <img src="..\assets\joinus\ieee.jpg" alt="pexels-yuri-manei-2272854">
        </div>
        
       
      </div>
      <div class="contactForm">
        <h1>Registaration Form</h1>
        <form>
          <div class="name">
            <label for="fullName">Full Name:</label>
            <input type="text" name="fullName" id="fullName" placeholder="ex: Lindsey Wilson" required/>
            <div class="iconName"><i class="fa-solid fa-user"></i></div>
          </div>
          <div class="name">
            <label for="email">Your Email:</label>
            <input type="email" name="email" id="email" required />
            <div class="iconName"><i class="fa-solid fa-envelope"></i></div>
          </div>
          <div class="name">
            <label for="Password">Your number:</label>
            <input type="text" name="password" id="password" required />
            <div class="iconName"><i class="fa-solid fa-lock"></i></div>
          </div>
          <div class="name">
            <label for="Password">Date of birth:</label>
            <input type="date"  id="dob" required />
            <div class="iconName"><i class="fa-solid fa-lock"></i></div>
          </div>
          <div class="checkbox">
            <p>Are you IEEE member?</p>
            <input type="checkbox" id="checkbox" name="checkbox" required>
            <label for="checkbox">YES
              
              <input type="checkbox" id="checkbox" name="checkbox" required>
            <label for="checkbox">NO
        </label>
          </label>
          </div>
          <input type="submit" value="Register">
        </form>
      </div>
    </div>
