
<div class="title-heading">What is IAS?</div>
<!--ias explication-->
<div class="d-flex">
  <div class="wrapper">
    <div class="explication p-2 flex-grow-1">
      <p>
        The Industry Applications Society, as a transnational organization, is
        interested in advancement of the theory and practice of electrical and
        electronic engineering in the development, design, manufacture and
        application of electrical systems, apparatus, devices and controls to
        the processes and equipment of industry and commerce
      </p>
      <p>
        With nearly 14,000 worldwide members and over 370 chapters globally ,
        the Industry Applications Society (IAS) is one of the largest special
        interest societies within the Institute of Electrical and Electronics
        Engineers (IEEE). The society enriches both its individual members and
        the industry as a whole through the sharing of specific industry-related
        solutions.
      </p>
    </div>
  </div>
  <div class="p-2 flex-fill fimg">
    <img src="\assets\aboutus1.png" alt="" class="fimg p-2 flex-fill" />
  </div>
</div>

<!--newww-->
<!--
<div class="d-flex">
<div  class="explication p-2 flex-grow-1">
    <p>The Industry Applications Society, as a transnational organization, is interested in advancement of the theory and practice of electrical and electronic engineering in the development, design, manufacture and application of electrical systems, apparatus, devices and controls to the processes and equipment of industry and commerce
 </p>
    <p>With nearly 14,000 worldwide members and over 370 chapters globally , the Industry Applications Society (IAS) is one of the largest special interest societies within the Institute of Electrical and Electronics Engineers (IEEE). The society enriches both its individual members and the industry as a whole through the sharing of specific industry-related solutions.</p>

</div>
<div class="p-2 fimg">
<img src="\assets\aboutus1.png" alt="" class="fimg p-2 flex-fill">
</div>
</div>-->

<!--IAS GOAL IN CARDS-->
<div class="body" style="background-color: #f9fcff">
  <div class="container" style="margin-top: 30px">
    <div class="row">
      <div class="col-12">
        <div class="title-heading">Our Main Goal</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-4 col-md-4 col-xl-4 col-xs-12">
        <div class="card">
          <img src="..\assets\aboutus\placeholder.png" alt="" class="cardimg" />
          <div class="card-body">
            <h4 class="card-title">Organising Events</h4>
            <div class="card-image" style="color: #213661">
              <i class="fas fa-laptop-code fa-5x"></i>
            </div>

            <p class="card-text">
              we organise several activities such as workshops online events
              industrial visits to ensure the good training of our members on a
              technical and professional level
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-xl-4 col-xs-12">
        <div class="card">
          <img src="..\assets\aboutus\idea.png" alt="" class="cardimg" />

          <div class="card-body">
            <h4 class="card-title">Creating our project prototype</h4>
            <div class="card-image" style="color: #5e371b">
              <i class="fas fa-chalkboard-teacher fa-5x"></i>
            </div>
            <p class="card-text">
              After a brainstorming we choose a project idea then w try to
              create a prototype after series of workshops linked with our
              project
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-xl-4 col-xs-12">
        <div class="card">
          <img src="..\assets\aboutus\idea.png" alt="" class="cardimg" />
          <div class="card-body">
            <h4 class="card-title">STEP 3</h4>
            <div class="card-image" style="color: #bc3330">
              <i class="fas fa-bullseye fa-5x"></i>
            </div>
            <p class="card-text">
              Eureka! Get certified and Get yourself placed as an intern in one
              of our partner startups now that you have completed the course.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--IAS IN NEMBER-->

  <div class="client-count-wrp mt-100">
    <div class="container">
      <div class="heading">
        <h4 class="counterheading">IEEE IAS ISSATM SBC in numbers</h4>
      </div>
      <div class="client-count-wrp-inner">
        <div class="cards">
          <img src="..\assets\aboutus\hearts.png" alt="" class="yearimg" />
          <h4 class="numtitle">{{ yearcount }}</h4>
          <p>years old</p>
        </div>
        <!--card-->
        <div class="cards">
          <img
            src="..\assets\aboutus\phone-book.png"
            alt=""
            class="memberimg"
          />
          <h4 class="numberplace">{{ memberscount }}</h4>
          <!--concat % sign-->

          <p>IAS member</p>
        </div>
        <!--card-->
        <div class="cards">
          <img src="../assets/aboutus/pencil.png" alt="" class="Tamimg" />
          <h4 class="numtitle">{{ TAMcount }}</h4>
          <p>IAS TAM participation</p>
        </div>
        <!--card
          <div class="cards">
              <h4 class="numtitle">{{customerfeedback + "%"}}</h4>
              <p>Customer Satisfaction</p>
          </div>-->
        <!--card-->
      </div>
    </div>
  </div>
  <!--MMET OUR TEAM-->
  <div class="body">
    <div class="teamWrapper">
      <div class="container">
        <h1 align="center" class="title-heading">Our Team</h1>
        <p align="center">
          “Teamwork divides the task and multiplies the success”
        </p>
        <div class="teamGrid">
          <div class="colmun">
            <div class="teamcol">
              <div class="teamcolinner">
                <div class="avatar">
                  <img src="..\assets\aboutus\hedir4.jpg" alt="Member" />
                </div>
                <div class="member-name">
                  <h2 align="center">Hedir Ben Moussa</h2>
                </div>
                <div class="member-info"><p align="center">Chairwomen</p></div>
                <div class="member-mail">
                  <p align="center">
                    <a href="mailto:@gmail.com">hedirbenmoussa@ieee.org</a>
                  </p>
                </div>
                <div class="member-social">
                  <ul class="social-listing">
                    <li>
                      <a href="#"
                        ><i
                          class="bx bxl-facebook-circle bx-sm"
                          style="color: #0f7020"
                        ></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="colmun">
            <div class="teamcol">
              <div class="teamcolinner">
                <div class="avatar">
                  <img
                    src="..\assets\aboutus\ghaithbenamor1.jpeg"
                    alt="Member"
                  />
                </div>
                <div class="member-name">
                  <h2 align="center">Ghaith Ben Amor</h2>
                </div>
                <div class="member-info"><p align="center">Vice Chair</p></div>
                <div class="member-mail">
                  <p align="center">
                    <a href="mailto:@gmail.com">mailto:@gmail.com</a>
                  </p>
                </div>
                <div class="member-social">
                  <ul class="social-listing">
                    <li>
                      <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="colmun">
            <div class="teamcol">
              <div class="teamcolinner">
                <div class="avatar">
                  <img src="..\assets\aboutus\oumaima1.jpg" alt="Member" />
                </div>
                <div class="member-name">
                  <h2 align="center">Oumaima Mahmoud</h2>
                </div>
                <div class="member-info">
                  <p align="center">General Secretary</p>
                </div>
                <div class="member-mail">
                  <p align="center">
                    <a href="mailto:@gmail.com">mailto:@gmail.com</a>
                  </p>
                </div>
                <div class="member-social">
                  <ul class="social-listing">
                    <li>
                      <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- +3 team card-->
      <div class="container">
        <div class="teamGrid">
          <div class="colmun">
            <div class="teamcol">
              <div class="teamcolinner">
                <div class="avatar">
                  <img src="..\assets\aboutus\dorra1.jpg" alt="Member" />
                </div>
                <div class="member-name">
                  <h2 align="center">Dorra Saad</h2>
                </div>
                <div class="member-info">
                  <p align="center">Training Manager</p>
                </div>
                <div class="member-mail">
                  <p align="center">
                    <a href="mailto:@gmail.com">hedirbenmoussa@ieee.org</a>
                  </p>
                </div>
                <div class="member-social">
                  <ul class="social-listing">
                    <li>
                      <a href="#"
                        ><i
                          class="bx bxl-facebook-circle bx-sm"
                          style="color: #0f7020"
                        ></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="colmun">
            <div class="teamcol">
              <div class="teamcolinner">
                <div class="avatar">
                  <img
                    src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjxivAs4UknzmDfLBXGMxQkayiZDhR2ftB4jcIV7LEnIEStiUyMygioZnbLXCAND-I_xWQpVp0jv-dv9NVNbuKn4sNpXYtLIJk2-IOdWQNpC2Ldapnljifu0pnQqAWU848Ja4lT9ugQex-nwECEh3a96GXwiRXlnGEE6FFF_tKm66IGe3fzmLaVIoNL/s1600/img_avatar.png"
                    alt="Member"
                  />
                </div>
                <div class="member-name">
                  <h2 align="center">Mohamed Yousef</h2>
                </div>
                <div class="member-info">
                  <p align="center">
                    Lorem Ipsum is a simply dummy text of the printing and
                    typesetting industry.
                  </p>
                </div>
                <div class="member-mail">
                  <p align="center">
                    <a href="mailto:@gmail.com">mailto:@gmail.com</a>
                  </p>
                </div>
                <div class="member-social">
                  <ul class="social-listing">
                    <li>
                      <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="colmun">
            <div class="teamcol">
              <div class="teamcolinner">
                <div class="avatar">
                  <img
                    src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjxivAs4UknzmDfLBXGMxQkayiZDhR2ftB4jcIV7LEnIEStiUyMygioZnbLXCAND-I_xWQpVp0jv-dv9NVNbuKn4sNpXYtLIJk2-IOdWQNpC2Ldapnljifu0pnQqAWU848Ja4lT9ugQex-nwECEh3a96GXwiRXlnGEE6FFF_tKm66IGe3fzmLaVIoNL/s1600/img_avatar.png"
                    alt="Member"
                  />
                </div>
                <div class="member-name">
                  <h2 align="center">Mohamed Yousef</h2>
                </div>
                <div class="member-info">
                  <p align="center">
                    Lorem Ipsum is a simply dummy text of the printing and
                    typesetting industry.
                  </p>
                </div>
                <div class="member-mail">
                  <p align="center">
                    <a href="mailto:@gmail.com">mailto:@gmail.com</a>
                  </p>
                </div>
                <div class="member-social">
                  <ul class="social-listing">
                    <li>
                      <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 
</div>
