.maindiv{
    background-color: rgba(225, 253, 212, 1);
    height: 50px;
    
}
/* .slogan{
    color: (11, 61, 3, 1);
    text-align:initial;
    
} */
 /*
.logo{
   width: 100px;
   height: 100px;
   padding-top: -40px;
}*/
.btn{
    background-color: rgba(105, 178, 99, 1);
}
.nav-link {
    color: rgba(11, 61, 3, 1);
}

.btn{
    width: 100%;
     height: 100%;
      background: #69B263;
       border-radius: 70px;
}
