<div class="container-fluid maindiv">
  
  <div class="d-flex align-items-center justify-content-between pt-2">
    
    <div class="d-flex p-2 g-col-6">
      <img src="assets\iaslogo.png" alt="" class="logo" />
      <p class="slogan">we innovate,we lead,we inspire...</p>
      <input type="checkbox" id="click">
      <label for="click" class="d-flex flex-row-reverse" id="menubar">
        <i class="fa-solid fa-bars p-2" style="color: #086a01;" id="btn"> </i>
        
        <i class="fa-solid fa-xmark" style="color: #086a01;" id="cancel"></i>
      </label>
    </div>

    <div class="head" >
      <ul 
        class="list-unstyled d-flex align-items-center justify-content-between pe-5 "
      >
        <li class="d-flex align-items-center" >
          <i style="color: #074907" class="bx bxl-periscope bx-sm px-3"></i>
          <p class="mb-0">Route de Tabarka 7030 7030, Mateur</p>
        </li>

        <li >
          <a href="https://www.facebook.com/ieee.ias.issatm" target="_blank"
            ><i
              style="color: #074907"
              class="bx bxl-facebook-circle bx-sm px-3"
            ></i
          ></a>
        </li>
        <li >
          <a
            href="https://www.instagram.com/ieee_ias_issatm/?hl=fr"
            target="_blank"
            ><i
              style="color: #074907"
              class="bx bxl-instagram-alt bx-sm px-3"
            ></i
          ></a>
        </li >
        <li ><i style="color: #074907" class="bx bxl-gmail bx-sm px-3"></i></li>
      </ul>
    </div>
  </div>
 
</div>

<!--NAVBAR-->

<nav>
<ul class="nav justify-content-center" id="ul">
  <li class="nav-item" id="li">
    <a class="nav-link active" aria-current="page" routerLink="/home" id="a">Home</a>
  </li>
  <li class="nav-item" id="li">
    <a  class="nav-link" routerLink="/aboutus" id="a">About Us</a>
  </li>

  <li class="nav-item" id="li">
    <a class="nav-link" routerLink="/activities" id="a">Activities</a>
  </li>

 
  
  <li class="nav-item" id="li">
    <a class="nav-link" routerLink="#" id="a">Contact</a>
  </li>
  <li class="nav-item ml-auto" id="li">
    
    <a class="btn" routerLink="/signin" role="button">Sign in</a>
  </li>
</ul>
</nav>