.maindiv{
    background-color: rgba(225, 253, 212, 1);
    height: 50px;
    
}
.slogan{
    color: (11, 61, 3, 1);
padding-left: 155px;
font-family: 'Satisfy';
} 
 
.logo{
   width: 160px;
   height: 150px;
   margin-top: -28px;
   padding-top: -40px;
   position : absolute;
   z-index: 2;
   
}
.btn{
    background-color: rgba(105, 178, 99, 1);
}
.nav-link {
    color: rgba(11, 61, 3, 1);
    margin-top: 5px;
}

.btn{
    width: 100%;
     height: 100%;
      background: #69B263;
       border-radius: 70px;
       margin-top:5px;
       color: white;
       text-align: center;
}
