<app-header></app-header>
<div class="maindiv">
    <h2 class="title-heading">Get in touch</h2>
<div class="contact-info">
    <div class="card">
      <i class="icon fas fa-envelope"></i>
      <div class="card-content">
        <h3>Email</h3>
        <span>email@address.com</span>
      </div>
    </div>
  
    <div class="card">
      <i class="icon fas fa-phone"></i>
      <div class="card-content">
        <h3>Phone Number</h3>
        <span>+00000000000</span>
      </div>
    </div>
  
    <div class="card">
      <i class="icon fas fa-map-marker-alt"></i>
      <div class="card-content">
        <h3>Location</h3>
        <span>Route de Tabarka 7030 7030, Mateur</span>
      </div>
    </div>
  </div>
</div>
<div class="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3184.5052167065837!2d9.64304447555927!3d37.045442053837434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e330c578772e8f%3A0x663e0b2d2dd68273!2sInstitut%20sup%C3%A9rieur%20des%20sciences%20appliqu%C3%A9es%20et%20technologiques%20de%20mateur!5e0!3m2!1sfr!2stn!4v1693476034795!5m2!1sfr!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

