<div class="cards">
    <div class="card">
      <div class="card-content">
        <div class="number">55</div>
        <div class="card-name">Joins us</div>
      </div>
      <div class="icon-box">
        <i class="fas fa-user"></i>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="number">511</div>
        <div class="card-name">Events</div>
      </div>
      <div class="icon-box">
        <i class="fa fa-user"></i>
      </div>
    </div>
  
    <div class="card">
      <div class="card-content">
        <div class="number">55</div>
        <div class="card-name">Total users</div>
      </div>
      <div class="icon-box">
        <i class="fa fa-users"></i>
      </div>
    </div>
</div>
